<div class="registration-form-box">
    <%- messages() %>

        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <h1>Register</h1>
                <form class="registration-form" action="/account/register" method="POST">
                    <label for="account_firstname">First Name</label> <br>
                    <input type="text" name="account_firstname" class="registration-input" id="accountFirstname"
                        required value="<%= locals.account_firstname %>"> <br>

                    <label for="account_lastname">Last Name</label> <br>
                    <input type="text" name="account_lastname" class="registration-input" id="account_lastname" required
                        value="<%= locals.account_lastname %>"> <br>

                    <label for="account_email">Email</label> <br>
                    <input type="email" name="account_email" class="registration-input" id="account_email" required
                        value="<%= locals.account_email %>"> <br>

                    <label for="account_password">Password:</label> <br>
                    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1
                        special
                        character</span> <br>
                    <input type="password" name="account_password" id="accountPassword" class="registration-input"
                        required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"> <br>

                    <span id="pswBtn" style="cursor: pointer;">Show Password</span> <br> <br>


                    <input type="submit" id="register-button" value="Register">
                </form>
                <h3>Already have an account? <a href="/account/login">Login</a></h3>
</div>

<script>
    const pswBtn = document.querySelector("#pswBtn");
    pswBtn.addEventListener("click", function () {
        const pswInput = document.getElementById("accountPassword"); // Use correct ID here
        const type = pswInput.getAttribute("type");

        if (type === "password") {
            pswInput.setAttribute("type", "text");
            pswBtn.innerHTML = "Hide Password";
        } else {
            pswInput.setAttribute("type", "password");
            pswBtn.innerHTML = "Show Password";
        }
    });
</script>